<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>projetEncheres</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		
	</welcome-file-list>

	<servlet>
		<servlet-name>accueil</servlet-name>
		<jsp-file>/WEB-INF/accueil.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>accueil</servlet-name>
		<url-pattern>/accueil</url-pattern>
	</servlet-mapping> 
	
	<servlet>
		<servlet-name>sinscrire</servlet-name>
		<jsp-file>/WEB-INF/sinscrire.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>sinscrire</servlet-name>
		<url-pattern>/sinscrire</url-pattern>
	</servlet-mapping> 
	<servlet>
		<servlet-name>modifierProfil</servlet-name>
		<jsp-file>/WEB-INF/modifierProfil.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>modifierProfil</servlet-name>
		<url-pattern>/modifierprofil</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>connexion</servlet-name>
		<jsp-file>/WEB-INF/connexion.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>connexion</servlet-name>
		<url-pattern>/connexion</url-pattern>
	</servlet-mapping>
</web-app>